<div ng-app="" ng-controller="ChatCtrl">
    <p> you are logged in as {{name}}</p>
    <input type="text" ng-model="roomName">
    <button type="submit" ng-click="newRoom()">new room</button>
    <!-- chatbox -->
    <form ng-submit="comment()">
        <textarea readonly rows="10" cols="100" ng-model="chatbox"></textarea><br>
        <input type="text" ng-model="msg">
        <button type="submit">send</button>
    </form>
    <p>select room</p>
    <select ng-model="roomlis" ng-change="joinRoom()">
        <option ng-repeat="(key, value) in roomlist">{{key}}</option>
    </select>
    <p>currently in room {{curroom}}</p>

</div>
